Package: linuxmuster-webui
Version: 0.4.4-0
Section: misc
Priority: extra
Architecture: all
Depends: python-pip, python-dev, python-lxml, libffi-dev, libssl-dev, libjpeg-dev, libpng-dev, uuid-dev, python-dbus, libldap2-dev, libsasl2-dev
Installed-Size: 8
Maintainer: Maurice Cazautet <maurice.cazautet@netzint.de>
Homepage: www.linuxmuster.net
Description: Weboberflache zur Bedienung von linuxmuster.net (Schulkonsole)
